*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    background-color: aqua
    color: white;
}
.navbar{
    height: 65px;
    width: 100%; 
    background-color: rgb(255,245,240);
    color: black; 
    padding: 12px;
       display: flex;
       justify-content: space-evenly;
}
/* box 1 */
.nav-logo{
    height:65px;
    width: 160px;
    background-image: url(logo.png);
    background-size: cover;
    

}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid black;
}
/* box 2 */
.search{
    display: flex;
    
    align-items: center;
    background-color: aqua;
    width: 640px;
    height: 45px;
    border-radius: 8px;
}
.search-icon i{
    height: 24px;
width: 24px;
padding: 8px 8px 8px 12px;
font-size: 24px;
}
.search-input{
    height: 36px;
    width: 580px;
    font-size: 24px;
}
/* box 3 */
.login-sign{
    width: 110px;
    height: 40px;
    display: flex;
}
.sign{
    height: 24px;
    width: 24px;
    margin: 8px;
    font-size: 24px;

}
.select{
    height: 40px;
    width: 60px;
    font-size: 20px;
    padding-left: 8px;
    align-items: center;
    border: none;
}
/* box 4 */
.nav-cart i{
    font-size: 34px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    /* display: flex;
    align-items: center; */
    margin-right: 8px;
}
.saller i {
    font-size: 35px; 
}
/* box 5 */
.saller{
    font-size: 0.85rem;
    padding-right: 8px;
    margin-left: 6px;
}
/* box 6 */
.link i {
    font-size: 34px;
   
}
.link {
    font-size: 0.85rem;
}
/* nav-second */
.nav-section{
    width: 100%;
    height: 150px;
    padding: 16px;
    margin-top: 10px;
    background-color: rgb(255,245,240);

display: flex;
justify-content: space-evenly;


.grocery p {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    /* margin-top: 5px; */
    
    
} 
.nav1{
    background-image:url(Grocery.jpg);
    background-size: cover;
    height: 110px;
    width: 90px;
 
}
.grocery{
    padding: 4px;
    margin: left 5px; 
}
}
/* bikes */
.select-bike{
    background-image: url(bikes.jpg);
    background-size: cover;
    height: 110px;
    width: 110px;
    border: none;
    
}
.bikes{
    padding: 4px;
    margin: left 5px; 
}
.bikes option {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;

}
/* electronical */

.select-electrical{
    background-image: url(electricals.jpg);
    background-size: cover;
    height: 110px;
    width: 125px;
    border: none;
}
.Electronicals{
    padding: 4px;
    margin: left 5px;
}
.Electricals option {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;

}
 ol {
    visibility: hidden;
}
.select-Fashion{
    background-image: url(fashion.jpg);
    background-size: cover;
    height: 110px;
    width: 120px;
    border: none;
}
.Fashion{
    padding: 4px;
    margin: left 5px;
}
.Fashion option {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;

}
/* travel */
.Travel p {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    
} 
.nav2{
    background-image:url(traveling.jpg);
    background-size: cover;
    height: 110px;
    width: 110px;
    /* padding: 16px 16px 16px 24px;
    margin: left 20px; */
}
.Travel{
    padding: 4px;
    margin: left 5px;
}
/* Hero images */
.Hero-section{
    background-image: url("hero-image.jpg");
    background-size: cover;
     height: 270px;
     width: 100%;
     margin-top: 10px;
}


/* eletronics */
h2{
    width: 723px;
    height: 28;
    border: border-box;
    padding: 16px 12px;
    color: #212121;
    margin-left: 5px;
}
.best-electronics{
display: flex;
justify-content: space-evenly;
}
.box{
    height: 375px;
    width: 18%;
    border: 1.5px solid rgb(240, 213, 213);
}
.box1-img{
    width: 170px;
    height: 200px;
    background-size: cover;

}
.box1-content {
    margin-top: 40px;
    margin-left: 25px;
}
.box1-content p {
    margin-top: 60px;
    margin-left: 20px;
    font-weight: 700;
}
.box1{
    padding: 6px;
}
/* box 2 */
.box2-img{
    width: 170px;
    height: 230px;
    background-size: cover;
}
.box2-content {
    margin-top: 30px;
    margin-left: 25px;
}
.box2-content p {
    margin-top: 35px;
    margin-left: 30px;
    font-weight: 700;
}
.box2{
    padding: 6px;
}
/* box 3 */
.box3-img{
    width: 170px;
    height: 310px;
    background-size: cover;
}
.box3-content {
    margin-top: 5px;
    margin-left: 25px;
}
.box3-content p {
    margin-top: 8px;
    margin-left: 20px;
    font-weight: 700;
}
.box3{
    padding: 6px;
}
/* box 4 */
.box4-img{
    width: 171px;
    height: 280px;
    background-size: cover;
}
.box4-content {
    margin-top: 5px;
    margin-left: 25px;
}
.box4-content p {
    margin-top: 15px;
    margin-left: 30px;
    font-weight: 700;
}
.box4{
    padding: 6px;
}
/* box 5 */
.box5-img{
    width: 220px;
    height: 280px;
    background-size: cover;
}
.box5-content {
    margin-top: 5px;
    margin-left: 5px;
}
.box5-content p {
    margin-top: 15px;
    margin-left: 60px;
    font-weight: 700;
}
.box5{
    padding: 6px;
}
/* food toy and other */
.best-Others{
    display: flex;
    justify-content: space-evenly;
    }
    .text1{
        height: 375px;
        width: 23%;
        border: 1.5px solid rgb(240, 213, 213);
    }
    /* box 1 */
    .Food-img{
        width: 170px;
        height: 230px;
        background-size: cover;
    
    }
    .Food-content {
        margin-top: 40px;
        margin-left: 55px;
    }
    .Food-content p {
        margin-top: 50px;
        margin-left: 40px;
        font-weight: 700;
    }
    .Food{
        padding: 6px;
    }

    /* box 2 */
    .kitchen-img{
        width: 270px;
        height: 230px;
        background-size: cover;
    
    }
    .kitchen-content {
        margin-top: 10px;
        margin-left: 15px;
    }
    .kitchen-content p {
        margin-top: 75px;
        margin-left: 75px;
        font-weight: 700;
    }
    .kitchen{
        padding: 6px;
    }

    /* box 3 */
    .gym-img{
        width: 280px;
        height: 300px;
        background-size: cover;
    
    }
    .gym-content {
        margin-top: 10px;
        margin-left: 10px;
    }
    .gym-content p {
        margin-top: 8px;
        margin-left: 75px;
        font-weight: 700;
    }
    .gym{
        padding: 6px;
    }
    /* box 4 */
    .headphone-img{
        width: 280px;
        height: 300px;
        background-size: cover;
    
    }
    .headphone-content {
        margin-top: 10px;
        margin-left: 10px;
    }
    .headphone-content p {
        margin-top: 8px;
        margin-left: 75px;
        font-weight: 700;
    }
    .headphone{
        padding: 6px;
    }
    .footer{
        width: 100%;
        height: 350px;
        background-color: black;
        color: white;
padding: 40px 20px 0px 20px;

    }
    .footer-content{
        display: flex;
        justify-content: space-evenly;
    }
    .about{
        width: 240px;
        height: 15px;
        margin-bottom: 12px;
        color: #878787;
        font-size: 0.85rem;
        line-height: 20px;
        text-decoration: none;
    
    }
    a{
        color: white;
    }
    .group{
        width: 255px;
        height: 15px;
        margin-bottom: 12px;
        color: #878787;
        font-size: 0.85rem;
        line-height: 20px;
        text-decoration: none;
    }
    .help{
        width: 255px;
        height: 15px;
        margin-bottom: 12px;
        color: #878787;
        font-size: 0.85rem;
        line-height: 20px;
        text-decoration: none;
    }
    .customer{
        width: 240px;
        height: 15px;
        margin-bottom: 12px;
        color: #878787;
        font-size: 0.85rem;
        line-height: 20px;
    }
    

    
